<app-loader></app-loader>
<main class="container no-scrollbar">
  <div class="card">
    <h2 class="section-title">Document Sections</h2>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-header" (click)="toggleSection($event)">
          <span>Section 1: Document</span>
          <span>▼</span>
        </div>
        <div class="accordion-content active">
          <p (mouseup)="captureSelectedText()">
            AI is transforming the insurance industry by addressing key
            challenges such as slow claims processing, fraud detection, and
            inefficient customer support. Automated systems powered by AI
            significantly reduce claims processing time, improving customer
            satisfaction. Machine learning algorithms enhance fraud detection by
            analyzing large datasets to identify suspicious activities. AI
            chatbots provide personalized customer service, offering tailored
            policy recommendations and round-the-clock assistance. AI also
            improves risk assessment by using predictive analytics to evaluate
            historical and real-time data, allowing insurers to create better
            policies and reduce losses. Predictive models help insurers
            anticipate customer behavior, improving retention and renewals. By
            automating processes and enabling data-driven decisions, AI enhances
            operational efficiency and ensures more personalized insurance
            solutions, creating a smarter, customer-centric future for the
            industry.
          </p>
          <div class="add-comment">
            <textarea
              class="comment-input"
              [(ngModel)]="newComment"
              placeholder="Add your comment..."
            ></textarea>
            <button class="btn btn-submit" type="button" (click)="addComment()">
              Submit Comment
            </button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header" (click)="toggleSection($event)">
          <span>Section 2: Comments-{{ comments.length }}</span>
          <span>▼</span>
        </div>
        <div class="accordion-content">
          <p>User Comments and Feedback</p>
          <div class="comments-section">
            <div class="comment-box" *ngFor="let comment of comments">
              <div class="comment-header">
                <span class="user-name">{{ comment.text }}</span>
                <div class="comment-actions">
                  <button class="btn btn-vote" (click)="toggleLike(comment)">
                    <span>👍</span>
                    <span class="vote-count">{{ comment.likes }}</span>
                  </button>
                  <button class="btn btn-assign" (click)="toggleAssign($event)">
                    <span>Assign</span>
                  </button>
                  <div class="popover">
                    <div
                      *ngFor="let asignee of asignees"
                      class="user-option"
                      (click)="assignComment(comment, asignee)"
                    >
                      <div class="user-avatar">
                        {{ asignee.name.slice(0, 1) }}
                      </div>
                      <div class="user-info">
                        <span class="user-name">{{ asignee.name }}</span>
                        <span class="user-role">Developer</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p><b>comment:</b> {{ comment.commentText }}</p>
              <b
                ><span *ngIf="comment.assignedTo !== ''" style="display: flex"
                  >Assigned to:
                  <p style="color: var(--primary)">
                    {{ comment.assignedTo }}
                  </p></span
                ></b
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
